APP_ENV=development
APP_NAME=Shongkhep API
API_V1_PREFIX=/api/v1
AUTO_CREATE_TABLES=true
DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5433/shongkhep
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
CORS_ORIGINS=["*"]
RSS_FEED_URLS_EN=["https://en.prothomalo.com/stories.rss"]
RSS_FEED_URLS_BN=["https://www.prothomalo.com/feed"]
DEFAULT_PAGE_SIZE=20
